body > #root > div {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

.container form {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #1a1a1a;
    padding: 5%;
    justify-content: center;
    align-items: center;
}

h2 {
    padding-bottom: 10%;
}

.container input {
    color:#dfdfdf;
    width: 80%;
    height: 50px;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    border-color: rgb(57, 29, 84);
    background-color: #101010;
    padding-left: 5%;
    margin-bottom: 3%;
  }

textarea {
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    border-color: rgb(57, 29, 84);
    background-color: #101010;
    color: #dfdfdf;
    padding-top: 3%;
    padding-left: 5%;
    width: 80%;
}

.container form button {
    margin-top: 15%;
    background-color: #101010;
}

.container form button:hover {
    background-color: rgb(75, 34, 113);
    border-radius: 5px;
}

.bottom {
    margin-top: auto;
    align-items: baseline;
}  