.top {
    margin-top: 5%;
    margin-inline: 10%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    background-color: #1a1a1a;
    padding: 2%;
}

.poster {
    align-items: center;
    justify-content: center;
}

img {
    width: 300px;
    height: auto;
}

h1 {
    margin-left: 3%;
}

.rating2 {
    margin-left: 3%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 5%;
}

.rating2 img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

h5 {
    margin-left: 3%;
}

h6 {
    margin-left: 3%;
}

.bottom {
    margin-inline: 7%;
    margin-bottom: 5%;
}