body > #root > div {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#body {
    color:#dfdfdf;
    background-color: #101010;
  }
  
  main {
    background-color: #101010;
    padding-left: 3%;
    padding-right: 3%;
  }

  #allMoviesContainer {
    display: flex;
  }

  #allMovies {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-bottom: 70px;
  }
  
.bottom {
    margin-top: auto;
    align-items: baseline;
}  
  