#body {
  color:#dfdfdf;
  background-color: #101010;
}

header {
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5%;
  padding-left: 3%;
  padding-right: 3%;
}

header img {
  width: 60px;
  height: auto;
}

button {
  color:#dfdfdf;
  background-color: #1a1a1a;
  border-radius: 5px;
  border: none;
  text-align: center;
  height: 50px;
  padding-inline: 30px;
  padding-bottom: 5px;
}

button:hover {
  background-color: rgb(75, 34, 113);
  border-radius: 5px;
}

main {
  background-color: #101010;
  padding-left: 3%;
  padding-right: 3%;
}

#searchbar {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2%;
}

#searchbar input {
  color:#dfdfdf;
  width: 30%;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  border-color: rgb(57, 29, 84);
  background-color: #1a1a1a;
  padding-left: 1%;
}

#trending {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 70px;
}

#trending img {
  width: 150px;
  height: auto;
}

.movie {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.movie h6 {
  margin-top: 10px;
  text-align: center;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.rating h6 {
  margin-left: 10px;
}

#trending .movie .rating img {
  width: auto;
  height: 20px;
}

footer {
  background-color: #1a1a1a;
  padding: 0.5%;
  padding-left: 3%;
  padding-right: 3%;
}
